<%
  var settings = require("ep_etherpad-lite/node/utils/Settings");
%>
<!doctype html>
<html>
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <title><%=settings.title%></title>

        <script>
            /*
            |@licstart  The following is the entire license notice for the
            JavaScript code in this page.|

            Copyright 2011 Peter Martischka, Primary Technology.
            Copyright 2014 Adam Kirkton, Truefit, Inc.

            Licensed under the Apache License, Version 2.0 (the "License");
            you may not use this file except in compliance with the License.
            You may obtain a copy of the License at

             http://www.apache.org/licenses/LICENSE-2.0

            Unless required by applicable law or agreed to in writing, software
            distributed under the License is distributed on an "AS IS" BASIS,
            WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
            See the License for the specific language governing permissions and
            limitations under the License.

            |@licend  The above is the entire license notice
            for the JavaScript code in this page.|
            */
        </script>
    </head>
    <body>
        It's alive!
    </body>
</html>
